# This is an example .env.local file.
# In your project root, create a .env.local file with the following env variables:

# NEXTAUTH_SECRET is a random string used by the library to encrypt tokens and email verification hashes,
# and it's mandatory to keep things secure! 🔥 🔐 . You can use: `openssl rand -base64 32`
NEXTAUTH_SECRET="This is an example"

# Twitter app credentials, used in oAuth flow.
TWITTER_CLIENT_ID=""
TWITTER_SECRET=""